<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('opened')"
        (closed)="events.push('close!')">
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i>
                Home     
            </a>
            <a routerLink="/enderecos" mat-list-item>
                <i class="material-icons">business</i>
                Endereco     
            </a>
            <a routerLink="/agendamentos" mat-list-item>
                <i class="material-icons">calendar_today</i>
                Agendamentos     
            </a>
            <!-- <button mat-button (click)="sidenav.toggle()">
                <i class="material-icons">calendar_today</i>
            </button> -->
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>