<mat-sidenav-container class="container">
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('opened')"
        (closed)="events.push('close!')">
        <mat-nav-list>
            <a routerLink="" mat-list-item>
                <i class="material-icons">home</i>
                Home     
            </a>
            <a routerLink="/enderecos" mat-list-item>
                <i class="material-icons">business</i>
                Endereço     
            </a>
            <a routerLink="/agendamentos" mat-list-item>
                <i class="material-icons">calendar_today</i>
                Agendamentos     
            </a>
            <a routerLink="/" mat-list-item>
                <i class="material-icons">groups_3</i>
                Clientes     
            </a>
            <a routerLink="/servicos" mat-list-item>
                <i class="material-icons">build</i>
                Serviços     
            </a>
            <a routerLink="/cupons" mat-list-item>
                <i class="material-icons">local_activity</i>
                Cupons     
            </a>
            <a routerLink="/administradores" mat-list-item>
                <i class="material-icons">admin_panel_settings</i>
                Administradores     
            </a>
            <a routerLink="/fluxos-caixa" mat-list-item>
                <i class="material-icons">paid</i>
                Fluxo Caixa    
            </a>
            <a routerLink="/relatorios" mat-list-item>
                <i class="material-icons">assignment</i>
                Relatórios  
            </a>
            <a routerLink="/estoques" mat-list-item>
                <i class="material-icons">shopping_basket</i>
                Estoque  
            </a>
            <!-- <button mat-button (click)="sidenav.toggle()">
                <i class="material-icons">calendar_today</i>
            </button> -->
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>